.mandatory{
  color: red;
  font-size: 1rem;
  margin: 0 5px;
}
.checkboxes{
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.disabilityFiveElements{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.labelCheck{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* custom radio */

/* container radio buttons*/
.containerRadio{
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radioButtons {
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.5rem 0 0 0.5rem;
  width: 50vw;
}

/* hide the browser's default radio button */
.radioButtons input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* create custom radio */
.radioButtons .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* on mouse-over, add border color */
.radioButtons:hover input ~ .check {
  border: 2px solid #2489C5;
}

/* add background color when the radio is checked */
.radioButtons input:checked ~ .check {
  background-color: #2489C5;
  border:none;
}

/* create the radio and hide when not checked */
.radioButtons .check:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the radio when checked */
.radioButtons input:checked ~ .check:after {
  display: block;
}

/* radio style */
.radioButtons .check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*Espacio entre cajas*/
div .containerRadio{
  margin-right: 2rem;
}