html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border-rounded {
  border-radius: 90px 0px 90px 0px;
}

.col-1 {
  grid-column: auto/span 1;
}

.col-2 {
  grid-column: auto/span 2;
}

.col-3 {
  grid-column: auto/span 3;
}

.col-4 {
  grid-column: auto/span 4;
}

.col-5 {
  grid-column: auto/span 5;
}

.col-6 {
  grid-column: auto/span 6;
}

.col-7 {
  grid-column: auto/span 7;
}

.col-8 {
  grid-column: auto/span 8;
}

.col-9 {
  grid-column: auto/span 9;
}

.col-10 {
  grid-column: auto/span 10;
}

.col-11 {
  grid-column: auto/span 11;
}

.col-12 {
  grid-column: auto/span 12;
}

/* Este son para el componente Column */

.row-1 {
  grid-row: auto/span 1;
}

.row-2 {
  grid-row: auto/span 2;
}

.row-3 {
  grid-row: auto/span 3;
}

.row-4 {
  grid-row: auto/span 4;
}

.row-5 {
  grid-row: auto/span 5;
}

.row-6 {
  grid-row: auto/span 6;
}

.row-7 {
  grid-row: auto/span 7;
}

.row-8 {
  grid-row: auto/span 8;
}

.row-9 {
  grid-row: auto/span 9;
}

.row-10 {
  grid-row: auto/span 10;
}

.row-11 {
  grid-row: auto/span 11;
}

.row-12 {
  grid-row: auto/span 12;
}
